html, body{
    height:100%;

}

body{
    background-color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

div{
    background-color: white;
    display: inline-block;
    width: 75%;
    height: 25%;
    border-radius: 50px;



}

h1{
    margin-top: 10px;
    color: black;
    font-size: 5rem;
    text-align: center;

}

button{
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: black;
    font-size: 2rem;
    border-radius: 50px;
}